/* Link Navi */

ul {
  list-style-type: none;
  margin: 4;
  padding: 4;
  overflow: hidden;
    text-shadow: 1px 1px 17px #ffffff
 }

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 33px;
  text-decoration: none;
    font-family:sans-serif;
    font-size: 1.7em
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* Body */



body {background-image: url(images/polygonal-abstract-red-dark-background-eo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
            background-size: cover;
}




h1 {
            color: white;
            font-family: serif;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-shadow: 7px 7px 17px #FF0000;
            
        }





#intro {
    text-align: center;
    
}



#Companyname {
    font-family: fantasy;
        font-size: 3em;
}

#Welcome {
    background-image: url(images/dda4c2a49f13f96c532b91d48f46367e.jpg);
    background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
    text-align: center
    
}

#Welcome2 {
    background-color: aliceblue;
    padding-top: 1px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
    
}

#History {
    background-image: url(images/7644.jpg);
        padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
    font-size: 1.7em;
    font-family: sans-serif;
    font-weight: normal;
    color: #ffffff;
    letter-spacing: 3px;
    text-shadow: -1px -1px 4px #ffff
    
}
        
        h3 {
            color: white;
        }
        h2 {
            color: white;
        }
        ol
        {
            color: white;
        }
        a
        {
            color: white;
        }
        
        


h4 {
    font-family: monospace;
    font-size: 3.6em;
    text-shadow: 2px 2px 17px #00a7ff;
    font-weight:  bold;
}

#gif{
    text-align: center;
}

#music {
    align-content: center;
    background-position: center;
}

#music2 {
    position: absolute;
    right: 43%;
}

#container {
    display: flex
}

#questions {
    background-color: #3d394a;
    padding: 20px;
    margin: 30px;
}

.linkbar1 {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 10;
  background-image: url(images/polygonal-abstract-red-dark-background-eo.jpg);
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }