        body {background-image: url(images/polygonal-abstract-red-dark-background-eo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
            background-size: cover;
}
        h1 {
            color: white;
            font-family: serif;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-shadow: 7px 7px 17px #FF0000;
            
        }
#intro {
    text-align: center
}
#Companyname {
    font-family: fantasy;
        font-size: 3em;
}

.President {
    text-align: center;
        border-radius: 50%;
}

p {
    color: black;
            font-family: serif;
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;
    text-emphasis-color: #000000;
            text-decoration: none;
            text-shadow: 1px 1px 2px #ffffff, 0 0 5px #000000, 0 0 5px #ffffff;
}
        
        h3 {
            color: white;
        }
        h2 {
            color: white;
            font-family: serif;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            text-shadow: 7px 7px 17px #FF0000;
        }
        ol
        {
            color: white;
        }
        a
        {
            color: white;
        }
        
        
ul {
  list-style-type: none;
  margin: 4;
  padding: 4;
  overflow: hidden;
    text-shadow: 1px 1px 17px #ffffff
 
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2px 33px;
  text-decoration: none;
    font-family:sans-serif;
    font-size: 1.7em
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

h4 {
    font-family: monospace;
    font-size: 3.6em;
    text-shadow: 2px 2px 17px #00a7ff;
    font-weight:  bold;
}



#music {
    align-content: center;
    background-position: center;
}

table {
background-color: azure;   
    border: 10px solid #be7c7c;
    border-collapse: collapse;
}

tr, th, td {
    border: 2px solid black;
    padding:  7px;
}

.head {
    font-family: serif;
    font-size: 2em;
    
}

#project{
    background-color:white;
}

.linkbar1 {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 10;
  background-image: url(images/polygonal-abstract-red-dark-background-eo.jpg);
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}

img { max-width: 100%; height: auto; }
